<form action="<?php echo $url; ?>" method="post">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $message; ?></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit"><?php echo $this->translate('Yes', 'Users'); ?></button>
                    <button class="btn btn-success" data-dismiss="modal"><?php echo $this->translate('No', 'Users'); ?></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <?php if (count($ids)) :
        foreach ($ids as $id): ?>
            <input type="hidden" name="ids[]" value="<?php echo $id; ?>" />
    <?php endforeach; endif;?>
</form>