<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->translate('Edit role', 'AccessManager'); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <?php
        $this->formLabel()->setTranslatorTextDomain('AccessManager');
        $this->formText()->setTranslatorTextDomain('AccessManager');

        $form->prepare();
        $form->setAttribute('class', 'col-md-4');
        echo $this->form()->openTag($form);
        ?>
        <div class="form-group">
            <?php
            $name = $form->get('name');
            $name->setAttribute('class', 'form-control');

            echo $this->formLabel($name);
            echo $this->formElement($name);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($name);
            ?>
        </div>

        <div class="form-group">
            <?php
            $desc = $form->get('description');
            $desc->setAttribute('class', 'form-control');

            echo $this->formLabel($desc);
            echo $this->formElement($desc);
            ?>
        </div>

        <?php
        echo $this->formElement($form->get('id'));
        ?>
        <div class="form-group">
            <?php
            $submit = $form->get('submit');
            $submit->setAttribute('class', 'btn btn-primary');

            $submit->setValue($this->translate('Save', 'Users'));
            echo $this->formElement($submit);
            ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>