<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <a class="btn btn-default" href="<?php echo $this->url('admin/access-manager/roles/add'); ?>">
                    <?php echo $this->translate('Add role', 'AccessManager'); ?>
                </a>
                <button class="btn btn-danger" type="submit" data-action="delete-selected" disabled="disabled">
                    <?php echo $this->translate('Remove selected', 'AccessManager'); ?>
                </button>

                <a class="btn btn-default btn-sm pull-right" href="<?php echo $this->url('admin/access-manager/permissions'); ?>">
                    <?php echo $this->translate('Permission settings', 'AccessManager'); ?>
                </a>
            </div><!-- /.box-header -->
            <?php if (count($roles)): ?>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-hover" data-toggle="checkboxes" data-range="true">
                        <thead>
                        <tr>
                            <th>
                                <input name="ids[]" id="ids0" type="checkbox" />
                                <label for="ids0"></label>
                            </th>
                            <th><?php echo $this->translate('Name', 'AccessManager'); ?></a></th>
                            <th><?php echo $this->translate('Description', 'AccessManager'); ?></th>
                            <th style="text-align: center"><?php echo $this->translate('Action', 'AccessManager'); ?></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($roles as $role) : ?>
                            <tr>
                                <td>
                                    <?php if ($role->getId() != 1):  ?>
                                        <input name="ids[]" id="ids<?php echo $role->getId(); ?>" type="checkbox" />
                                        <label for="ids<?php echo $role->getId(); ?>"></label>
                                    <?php else: ?>
                                        <input name="ids[]" id="ids<?php echo $role->getId(); ?>" type="checkbox" disabled/>
                                        <label for="ids<?php echo $role->getId(); ?>"></label>
                                    <?php endif; ?>
                                </td>
                                <td><?php echo $role->getName(); ?></td>
                                <td><?php echo $role->getDescription(); ?></td>
                                <td style="text-align: right">
                                    <a title="<?php echo $this->translate('Edit', 'Users'); ?>" class="btn btn-success btn-xs" href="<?php echo $this->url('admin/access-manager/roles/edit', array('id' => $role->getId())); ?>">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <?php if ($role->getId() != 1): ?>
                                        <button title="<?php echo $this->translate('Delete', 'Users'); ?>" class="btn btn-danger btn-xs" data-action="delete" data-url="<?php echo $this->url('admin/access-manager/roles/delete', array('id' => $role->getId())); ?>">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    <?php else: ?>
                                        <button class="btn btn-danger btn-xs disabled">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    <?php endif; ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <?php echo $this->paginationControl($roles,
                        'Sliding',
                        'application/admin/partial/pagination', ['route' => 'admin/access-manager/roles']); ?>
                </div>
            <?php else: ?>
                <div class="box-body">
                    <div class="alert alert-info"><?php $this->translate('Nothing found', 'AccessManager'); ?></div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>