<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <?php foreach ($modules as $key => $module): ?>
            <li class="<?php echo !$key ? 'active' : ''; ?>"><a href="#<?php echo $module; ?>" data-toggle="tab"><?php echo $module; ?></a></li>
        <?php endforeach; ?>
    </ul>
    <div class="tab-content clearfix">
        <?php foreach ($modules as $key => $module):?>
            <div class="tab-pane <?php echo !$key ? 'active' : ''; ?>" id="<?php echo $module; ?>">
                <form name="<?php echo $module; ?>" action="<?php echo $this->url('admin_default', ['module' => 'access-manager', 'action' => 'set-permissions']); ?>">
                    <table class="table table-striped table-hover table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 300px;"><?php echo $this->translate('Permission', 'AccessManager'); ?></th>
                            <?php foreach ($roles as $role): ?>
                                <th><?php echo $role->getName(); ?></th>
                            <?php endforeach; ?>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: center"><strong><?php echo $this->translate('Select all', 'AccessManager'); ?></strong></td>
                            <?php
                            foreach ($roles as $role):
                                $rolePermissionIds = $role->getPermissionIds($module);
                                $checked = ! count(array_diff($permissionIds[$module], $rolePermissionIds));
                                ?>
                                <td>
                                    <?php if ($checked): ?>
                                        <input id="<?php echo strtolower($module);?>_<?php echo $role->getId();?>" type="checkbox" checked />
                                    <?php else: ?>
                                        <input id="<?php echo strtolower($module);?>_<?php echo $role->getId();?>" type="checkbox" />
                                    <?php endif; ?>
                                    <label for="<?php echo strtolower($module);?>_<?php echo $role->getId();?>"></label>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                        <?php foreach ($permissions[$module] as $permission): ?>
                            <tr>
                                <td><?php echo $permission->getDescription(); ?></td>
                                <?php foreach ($roles as $role): ?>
                                    <td>
                                        <?php if ($role->hasPermission($permission)): ?>
                                            <input name="permissions[<?php echo $role->getId(); ?>][<?php echo $permission->getId(); ?>]" id="permissions[<?php echo $role->getId(); ?>][<?php echo $permission->getId(); ?>]" type="checkbox" checked />
                                        <?php else: ?>
                                            <input name="permissions[<?php echo $role->getId(); ?>][<?php echo $permission->getId(); ?>]" id="permissions[<?php echo $role->getId(); ?>][<?php echo $permission->getId(); ?>]" type="checkbox" />
                                        <?php endif; ?>

                                        <label for="permissions[<?php echo $role->getId(); ?>][<?php echo $permission->getId(); ?>]"></label>
                                    </td>
                                <?php endforeach; ?>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                    <input type="hidden" name="module" value="<?php echo $module; ?>" />
                    <button type="submit" class="btn btn-primary pull-right" data-loading-text="<?php echo $this->translate('Saving...', 'AccessManager'); ?>"><?php echo $this->translate('Save', 'AccessManager'); ?></button>
                </form>
            </div>
        <?php endforeach; ?>
    </div>
</div>
