<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <?php echo $this->headLink()->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css'))
        ->appendStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        ->appendStylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        ->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/dist/css/AdminLTE.min.css'))
        ->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/dist/css/skins/skin-blue.min.css'))
        ->appendStylesheet($this->basePath('/cpanel/bower_components/fancybox/source/jquery.fancybox.css'))
    ?>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>E</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Exenda</b>CMS</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <?php echo $this->mail()->getUnreadMessages(); ?>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <!--                        <img class="user-image" src="--><?php //echo $this->identity()->hasAvatar() ? $this->basePath($this->identity()->getAvatar()) :  $this->basePath('/images/avatars/photo.jpg'); ?><!--" />-->
                            <?php echo $this->identity()->getLogin(); ?> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><?php echo $this->translate('My profile', 'Application'); ?></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="<?php echo $this->url('admin_auth', ['action' => 'logout']); ?>"><?php echo $this->translate('Logout', 'Application'); ?></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <?php
            echo $this->navigation('navigation_admin')
                ->menu()
                ->setPartial('application/admin/partial/menu')
                ->render();
            ?>
            <?php
            echo $this->navigation('navigation_settings')
                ->menu()
                ->setPartial('application/admin/partial/settings')
                ->render();
            ?>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><?php echo $this->title; ?></h1>
            <?php
            $partial = ['application/admin/partial/breadcrumbs.phtml','default'];
            $this->navigation('navigation_admin')->breadcrumbs()->setPartial($partial);
            echo $this->navigation('navigation_admin')->breadcrumbs()->setRenderInvisible();
            ?>
        </section>

        <!-- Main content -->
        <section class="content">
            <!--Display messages -->
            <?php foreach(['success', 'danger', 'warning', 'info'] as $type): ?>
                <?php if ($this->alert['type'] == $type): ?>
                    <div class="alert alert-<?php echo $type; ?>">
                        <?php echo $this->alert['text']; ?>
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>

            <?php if ($this->error) { echo $this->error; } ?>

            <?php echo $this->content; ?>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->

<?php
echo $this->inlineScript()->prependFile("/cpanel/bower_components/AdminLTE/dist/js/app.min.js")
    ->prependFile($this->basePath("/cpanel/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"))
    ->prependFile($this->basePath("/cpanel/bower_components/fancybox/source/jquery.fancybox.pack.js"))
    ->prependFile($this->basePath("/cpanel/bower_components/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"))
?>
</body>
</html>
