<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <?php echo $this->headLink()->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css'))
            ->appendStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
            ->appendStylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
            ->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/dist/css/AdminLTE.min.css'))
        ?>
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="#"><b>Exenda</b>CMS</a>
            </div>
            <!-- /.login-logo -->
            <?php echo $this->content; ?>
        </div>
        <!-- /.login-box -->
        <?php
        echo $this->inlineScript()->prependFile($this->basePath("/cpanel/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"))
            ->prependFile($this->basePath("/cpanel/bower_components/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"))
        ?>
    </body>
</html>
