<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->translate('Edit user', 'Users'); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <?php
        $this->formLabel()->setTranslatorTextDomain('Users');
        $this->formText()->setTranslatorTextDomain('Users');

        $form->setAttribute('class', 'col-md-4');
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>
        <div class="form-group">
            <?php
            $avatar = $form->get('avatar');

            $image = $avatar->getValue() ? $this->basePath('/images/avatars/' . $avatar->getValue()) : '';
            $avatar->setAttribute('data-image-url', $image);

            echo $this->formLabel($avatar);
            echo $this->formFile($avatar);
            ?>
        </div>
        <div class="form-group">
            <?php
            $name = $form->get('name');
            $name->setAttribute('class', 'form-control');

            echo $this->formLabel($name);
            echo $this->formElement($name);

            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($name);
            ?>
        </div>
        <div class="form-group">
            <?php
            $email = $form->get('email');
            $email->setAttribute('class', 'form-control');

            echo $this->formLabel($email, '&nbsp;<span class="text-danger">*</span>', 'prepend');
            echo $this->formElement($email);

            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($email);
            ?>
        </div>
        <div class="form-group">
            <?php
            $login = $form->get('login');
            $login->setAttribute('class', 'form-control');

            echo $this->formLabel($login, '&nbsp;<span class="text-danger">*</span>', 'prepend');
            echo $this->formElement($login);

            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($login);
            ?>
        </div>
        <div class="form-group">
            <?php
            $password = $form->get('password');
            $password->setAttribute('class', 'form-control');
            $password->setAttribute('required', false);

            echo $this->formLabel($password);
            echo $this->formElement($password);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($password);
            ?>
        </div>
        <div class="form-group">
            <?php
            $confirm = $form->get('confirm');
            $confirm->setAttribute('class', 'form-control');
            $confirm->setAttribute('required', false);

            echo $this->formLabel($confirm);
            echo $this->formElement($confirm);

            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($confirm);
            ?>
        </div>
        <div class="form-group">
            <?php
            $birthday = $form->get('birthday');
            $birthday->setAttribute('class', 'form-control');
            $birthday->setAttribute('id', 'datepicker');
            $birthday->setAttribute('autocomplete', false);

            echo $this->formLabel($birthday);
            echo $this->formElement($birthday);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($birthday);
            ?>
        </div>
        <div class="form-group">
            <?php
            $gender = $form->get('gender');
            $gender->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($gender);

            echo $this->formElement($gender);
            ?>
        </div>

        <?php if ($form->has('roleId')): ?>
            <div class="form-group">
                <?php
                $roleSelect = $form->get('roleId');
                $roleSelect->setAttribute('class', 'form-control selectpicker');

                echo $this->formLabel($roleSelect);
                echo $this->formElement($roleSelect);
                ?>
            </div>
        <?php endif; ?>

        <?php if ($form->has('active')): ?>
            <div class="form-group">
                <?php
                $active = $form->get('active');
                echo $this->formLabel($active);

                echo $this->formElement($active)
                ?>
            </div>
        <?php endif; ?>

        <div class="form-group">
            <?php
            $hidden = $form->get('id');
            echo $this->formElement($hidden);

            $submit = $form->get('submit');
            $submit->setValue($this->translate('Save', 'Users'));
            $submit->setAttribute('class', 'btn btn-primary');

            echo $this->formElement($submit);
            ?>
        </div>
        <?php  echo $this->form()->closeTag(); ?>
    </div>
</div>