<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <?php if ($this->isGranted('users.add-user')): ?>
                    <a class="btn btn-default" href="<?php echo $this->url('admin/users/add'); ?>"><?php echo $this->translate('Create', 'Users'); ?></a>
                <?php endif; ?>

                <?php if ($this->isGranted('users.delete') && count($users)): ?>
                    <button class="btn btn-danger" type="button" data-url="<?php echo $this->url('admin_default', ['module' => 'users', 'action' => 'delete-selected']); ?>" data-action="delete-selected" style="margin-left: 5px" disabled="disabled">
                        <?php echo $this->translate('Remove selected', 'Users'); ?>
                    </button>
                <?php endif; ?>
            </div><!-- /.box-header -->
            <?php if (count($users)): ?>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-hover" data-toggle="checkboxes" data-range="true">
                        <thead>
                            <tr>
                                <th>
                                    <input name="ids[]" id="ids0" type="checkbox" />
                                    <label for="ids0"></label>
                                </th>
                                <th><?php echo $this->translate('Status', 'Users'); ?></th>
                                <th><?php echo $this->translate('Name', 'Users'); ?></th>
                                <th><?php echo $this->translate('Login', 'Users'); ?></th>
                                <th>Email</th>
                                <th><?php echo $this->translate('Registration date', 'Users'); ?></th>
                                <th style="text-align: center; width: 250px;"><?php echo $this->translate('Action', 'Users'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($users as $user): ?>
                                <tr>
                                    <td>
                                        <?php if ($user->getId() != 1):  ?>
                                            <input name="ids[]" id="ids<?php echo $user->getId(); ?>" type="checkbox" />
                                            <label for="ids<?php echo $user->getId(); ?>"></label>
                                        <?php else: ?>
                                            <input name="ids[]" id="ids<?php echo $user->getId(); ?>" type="checkbox" disabled/>
                                            <label for="ids<?php echo $user->getId(); ?>"></label>
                                        <?php endif; ?>
                                    </td>
                                    <td>
                                        <?php if ($user->isActive()): ?>
                                            <span class="label label-success"><?php echo $this->translate('Active', 'Users'); ?></span>
                                        <?php else: ?>
                                            <span class="label label-danger"><?php echo $this->translate('Not active', 'Users'); ?></span>
                                        <?php endif; ?>
                                    </td>
                                    <td><?php echo $user->getName(); ?></td>
                                    <td><?php echo $user->getLogin(); ?></td>
                                    <td><?php echo $user->getEmail(); ?></td>
                                    <td><?php echo $user->getCreated('d.m.Y')?></td>
                                    <td class="text-right">
                                        <?php if ($this->isGranted('users.edit')): ?>
                                            <a title="<?php echo $this->translate('Edit', 'Users'); ?>" class="btn btn-success btn-xs" href="<?php echo $this->url('admin/users/edit', ['id' => $user->getId()]); ?>">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        <?php endif; ?>

                                        <?php if ($this->isGranted('users.delete')): ?>
                                            <button title="<?php echo $this->translate('Delete', 'Users'); ?>" class="btn btn-danger btn-xs" data-action="delete" data-url="<?php echo $this->url('admin/users/delete', ['id' => $user->getId()]); ?>">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <?php echo $this->paginationControl($users,
                        'Sliding',
                        'application/admin/partial/pagination', ['route' => 'admin_default/wildcard', 'params' => ['module' => 'users']]); ?>
                </div>
            <?php else: ?>
                <div class="box-body">
                    <div class="alert alert-info"><?php echo $this->translate('Nothing found', 'Users'); ?></div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>