<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <?php
    $this->formLabel()->setTranslatorTextDomain('Users');

    $form->prepare();
    $form->setAttribute('action', $this->url('admin_auth', ['action' => 'authenticate']));
    echo $this->form()->openTag($form);
    ?>

    <div class="form-group has-feedback">
        <?php
            $login = $form->get('login');
            $login->setAttribute('class', 'form-control');

            echo $this->formElement($login);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($login);
        ?>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
        <?php
            $password = $form->get('password');
            $password->setAttribute('class', 'form-control');

            echo $this->formElement($password);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($password);
        ?>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="form-group clearfix">
        <?php
        $rememberMe = $form->get('rememberMe');
        echo $this->formElement($rememberMe);
        echo $this->formLabel($rememberMe);
        ?>

        <a class="pull-right" href="<?php echo $this->url('admin_auth', ['action' => 'restore-password']); ?>"><?php echo $this->translate('Forgot your password?', 'Users'); ?></a>
    </div>

    <div class="form-group clearfix" style="margin-bottom: 0">
        <?php if ($this->error) : ?>
            <p class="help-block text-danger pull-left"><?php echo $this->error; ?></p>
        <?php endif; ?>

        <?php
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-block btn-primary btn-flat');
        $submit->setValue($this->translate($submit->getValue(), 'Users'));

        echo $this->formElement($submit);
        ?>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
