<?php
$this->formLabel()->setTranslatorTextDomain('Users');

$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group">
    <?php
    $password = $form->get('password');
    $password->setAttribute('class', 'form-control');

    echo $this->formLabel($password);
    echo $this->formElement($password);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($password);
    ?>
</div>
<div class="form-group">
    <?php
    $confirm = $form->get('confirm');
    $confirm->setAttribute('class', 'form-control');

    echo $this->formLabel($confirm);
    echo $this->formElement($confirm);

    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($confirm);
    ?>
</div>

<div class="form-group clearfix" style="margin-bottom: 0">
    <?php if ($this->message) : ?>
        <p class="help-block text-danger pull-left"><?php echo $this->message; ?></p>
    <?php endif; ?>

    <?php
    $submit = $form->get('submit');
    $submit->setAttribute('class', 'btn btn-primary btn-block');
    $submit->setValue($this->translate($submit->getValue(), 'Users'));

    echo $this->formElement($submit);
    ?>
</div>
<?php echo $this->form()->closeTag(); ?>