<?php
$this->formLabel()->setTranslatorTextDomain('Users');

$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group">
    <?php
    $email = $form->get('email');
    $email->setAttribute('class', 'form-control pull-left');

    echo $this->formLabel($email);
    echo $this->formElement($email);

    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($email);
    ?>
</div>

<div class="form-group clearfix" style="margin-bottom: 0">
    <?php if ($this->error) : ?>
        <p class="help-block text-danger pull-left"><?php echo $this->error; ?></p>
    <?php endif; ?>

    <?php if ($this->message) : ?>
        <p class="help-block text-success pull-left"><?php echo $this->message; ?></p>
    <?php endif; ?>

    <?php
    $submit = $form->get('submit');
    $submit->setAttribute('class', 'btn btn-primary btn-block');
    $submit->setValue($this->translate($submit->getValue(), 'Users'));

    echo $this->formElement($submit);
    ?>
</div>
<?php echo $this->form()->closeTag(); ?>