<?php
$this->formLabel()->setTranslatorTextDomain('Mail');
$this->formText()->setTranslatorTextDomain('Mail');
$form->setAttribute('novalidate', true);

$form->setAttribute('action', $this->url('admin_default', ['module' => 'mail', 'action' => 'save-default-settings']));
$form->setAttribute('class', 'col-md-4');
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group">
    <?php
    $defaultEmail = $form->get('default_email');
    $defaultEmail->setAttribute('class', 'form-control');

    echo $this->formLabel($defaultEmail, "<span class='text-danger'>*</span>&nbsp;<span style='color: #ccc; font-size: 12px'>[#DEFAULT_EMAIL_FROM#]</span>", 'prepend');

    echo $this->formElement($defaultEmail);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($defaultEmail);
    ?>
</div>

<div class="form-group">
    <?php
    $defaultName = $form->get('default_name');
    $defaultName->setAttribute('class', 'form-control');

    echo $this->formLabel($defaultName, "&nbsp;<span style='color: #ccc; font-size: 12px'>[#DEFAULT_NAME_FROM#]</span>", 'prepend');

    echo $this->formElement($defaultName);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($defaultName);
    ?>
</div>

<div class="form-group clear-left">
    <?php
    $submit = $form->get('submit');
    $submit->setAttribute('class', 'btn btn-primary');
    $submit->setValue($this->translate($submit->getValue(), 'Mail'));
    echo $this->formElement($submit);
    ?>
</div>

<?php echo $this->form()->closeTag(); ?>