<div class="col-md-3">
  <a href="#" class="btn btn-primary btn-block margin-bottom"><?php echo $this->translate('Compose', 'Mail'); ?></a>
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title"><?php echo $this->translate('Folders', 'Mail'); ?></h3>
      <div class="box-tools">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <li class="<?php echo $this->folder == 'inbox' ? 'active' : ''; ?>"><a href="<?php echo $this->url('admin/mail/inbox'); ?>"><i class="fa fa-inbox"></i> <?php echo $this->translate('Inbox', 'Mail'); ?> <span class="label label-primary pull-right"><?php echo $unreadMessageCount; ?></span></a></li>
        <li class="<?php echo $this->folder == 'sent' ? 'active' : ''; ?>"><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
        <li class="<?php echo $this->folder == 'drafts' ? 'active' : ''; ?>"><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
        <li class="<?php echo $this->folder == 'trash' ? 'active' : ''; ?>"><a href="<?php echo $this->url('admin/mail/trash'); ?>"><i class="fa fa-trash-o"></i><?php echo $this->translate('Trash', 'Mail'); ?></a></li>
      </ul>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
</div><!-- /.col -->