<?php
$this->formLabel()->setTranslatorTextDomain('Mail');
$this->formText()->setTranslatorTextDomain('Mail');
$form->setAttribute('novalidate', true);

$form->setAttribute('action', $this->url('admin_default', ['module' => 'mail', 'action' => 'save-smtp-settings']));
$form->setAttribute('class', 'col-md-4');
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group radio-group clearfix">
    <?php
    $useSmtp = $form->get('use_smtp');
    echo $this->formLabel($useSmtp);

    echo $this->formElement($useSmtp)
    ?>
</div>

<div class="form-group">
    <?php
    $smtpServer = $form->get('smtp_server');
    $smtpServer->setAttribute('class', 'form-control');

    echo $this->formLabel($smtpServer, "<span class='text-danger'>*</span>", 'prepend');

    echo $this->formElement($smtpServer);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($smtpServer);
    ?>
</div>

<div class="form-group">
    <?php
    $smtpEncryption = $form->get('smtp_encryption');
    $smtpEncryption->setAttribute('class', 'form-control selectpicker');

    echo $this->formLabel($smtpEncryption);
    echo $this->formElement($smtpEncryption);
    ?>
</div>

<div class="form-group">
    <?php
    $smtpPort = $form->get('smtp_port');
    $smtpPort->setAttribute('class', 'form-control');

    echo $this->formLabel($smtpPort, "<span class='text-danger'>*</span>", 'prepend');

    echo $this->formElement($smtpPort);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($smtpPort);
    ?>
</div>

<div class="form-group">
    <?php
    $smtpLogin = $form->get('smtp_login');
    $smtpLogin->setAttribute('class', 'form-control');

    echo $this->formLabel($smtpLogin, "<span class='text-danger'>*</span>", 'prepend');

    echo $this->formElement($smtpLogin);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($smtpLogin);
    ?>
</div>

<div class="form-group">
    <?php
    $smtpPassword = $form->get('smtp_password');
    $smtpPassword->setAttribute('class', 'form-control');

    echo $this->formLabel($smtpPassword, "<span class='text-danger'>*</span>", 'prepend');

    echo $this->formElement($smtpPassword);
    echo $this->formElementErrors()
        ->setMessageOpenFormat('<p class="help-block text-danger">')
        ->setMessageSeparatorString('</p><p class="help-block text-danger">')
        ->setMessageCloseString('</p>')
        ->render($smtpPassword);
    ?>
</div>

<div class="form-group clear-left">
    <?php
    $submit = $form->get('submit');
    $submit->setAttribute('class', 'btn btn-primary');
    $submit->setValue($this->translate($submit->getValue(), 'Mail'));
    echo $this->formElement($submit);
    ?>
</div>

<?php echo $this->form()->closeTag(); ?>
