<?php
$this->formLabel()->setTranslatorTextDomain('Mail');
$this->formText()->setTranslatorTextDomain('Mail');
$form->setAttribute('novalidate', true);

$form->setAttribute('action', $this->url('admin_default', ['module' => 'mail', 'action' => 'test']));
$form->setAttribute('class', 'col-md-4');
$form->prepare();
echo $this->form()->openTag($form);
?>

<div class="form-group">
  <?php
  $email = $form->get('email');
  $email->setAttribute('class', 'form-control');

  echo $this->formLabel($email);

  echo $this->formElement($email);
  echo $this->formElementErrors()
      ->setMessageOpenFormat('<p class="help-block text-danger">')
      ->setMessageSeparatorString('</p><p class="help-block text-danger">')
      ->setMessageCloseString('</p>')
      ->render($email);
  ?>
</div>

<div class="form-group clear-left">
  <?php
  $submit = $form->get('submit');
  $submit->setAttribute('class', 'btn btn-primary');
  $submit->setValue($this->translate($submit->getValue(), 'Mail'));
  echo $this->formElement($submit);
  ?>
</div>

<?php echo $this->form()->closeTag(); ?>