<!-- Messages: style can be found in dropdown.less-->
<li class="dropdown messages-menu">
    <!-- Menu toggle button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-envelope-o"></i>
        <span class="label label-success"><?php echo count($messages); ?></span>
    </a>
    <ul class="dropdown-menu">
        <li class="header"><?php echo sprintf($this->translatePlural('You have %s message', 'You have %s messages', count($messages)), count($messages)); ?></li>
        <li>
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                <?php foreach($messages as $message): ?>
                <li><!-- start message -->
                    <a href="#">
                        <!-- Message title and timestamp -->
                        <h4>
                            <?php echo $message->getSenderName() ?: $message->getSenderEmail(); ?>
                            <small><i class="fa fa-clock-o"></i> <?php echo $message->getCreated(); ?></small>
                        </h4>
                        <!-- The message -->
                        <p><?php echo $message->getSubject(); ?></p>
                    </a>
                </li><!-- end message -->
                <?php endforeach; ?>
            </ul><!-- /.menu -->
        </li>
        <li class="footer"><a href="<?php echo $this->url('admin/mail/inbox'); ?>"><?php echo $this->translate('See All Messages', 'Mail'); ?></a></li>
    </ul>
</li><!-- /.messages-menu -->