<?php if (count($this->pages)): ?>
<ol class="breadcrumb">
    <li><a href="<?php echo $this->url('admin_default'); ?>"><i class="fa fa-dashboard"></i><?php echo $this->translate('Dashboard'); ?></a></li>
    <?php foreach ($this->pages as $page):
        if ($page->getLabel() && $page->isVisible()) :
            if ($page->isActive()) :
    ?>
        <li class="active"><?php echo $this->translateNavigation($page->getLabel()); ?></li>
    <?php else: ?>
        <li><a href="<?php echo $page->getHref()?>"><?php echo $this->translateNavigation($page->getLabel()); ?></a></li>
    <?php endif;
        endif;
    endforeach; ?>
</ol>
<?php endif;?>