<ul class="sidebar-menu">
    <li class="header"><?php echo $this->translate('Modules', 'Application'); ?></li>
    <!-- Optionally, you can add icons to the links -->
    <?php foreach ($this->container as $page):
        $class = $page->isActive(true) ? 'active' : '';
        ?>
        <?php if ($page->hasPages(true)): ?>
            <li class="treeview <?php echo $class; ?>">
                <a href="#">
                    <i class="<?php echo $page->getClass(); ?>"></i>
                    <span><?php echo $this->translateNavigation($page->getLabel()); ?></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <?php foreach ($page->pages as $sub):
                        if ($sub->isVisible()) :
                            ?>
                            <li class="<?php echo $sub->isActive() ? 'active' : '' ?>">
                                <a href="<?php echo $sub->getHref()?>"><i class="fa fa-circle-o"></i><?php echo $this->translateNavigation($sub->getLabel()); ?></a>
                            </li>
                        <?php endif; endforeach;?>
                </ul>
            </li>
        <?php else: ?>
            <li class="<?php echo $class; ?>">
                <a href="<?php echo $page->getHref();?>">
                    <i class="<?php echo $page->getClass(); ?>"></i>
                    <span><?php echo $this->translateNavigation($page->getLabel()); ?></span>
                </a>
            </li>
        <?php endif; ?>
    <?php endforeach; ?>
</ul><!-- /.sidebar-menu -->



