
<?php
if (!isset($this->options)) :
    $this->options = [];
endif;
$request = $this->getHelperPluginManager()->getServiceLocator()->get('Request');
?>

<?php  if ($this->pageCount): ?>
    <ul class="pagination pull-right">
<!-- First page link -->
<?php if (isset($this->previous)): ?>
  <li><a href="<?php echo $this->url($this->route, array_merge($this->options, ['page' => $this->first]), ['query' => $request->getQuery()->toArray()]); ?>">
    <?php echo $this->translate('First', 'Application'); ?>
  </a></li> 
<?php else: ?>
  <li class="disabled"><a href="#"><?php echo $this->translate('First', 'Application'); ?></a></li>
<?php endif; ?>

<!-- Previous page link -->
<?php if (isset($this->previous)): ?>
<li><a href="<?php echo $this->url($this->route, array_merge($this->options, ['page' => $this->previous]), ['query' => $request->getQuery()->toArray()]); ?>">
    < <?php echo $this->translate('Previous', 'Application'); ?>
  </a></li>
<?php else: ?>
  <li class="disabled"><a href="#">< <?php echo $this->translate('Previous', 'Application'); ?></a></li>
<?php endif; ?>

<!-- Numbered page links -->
<?php foreach ($this->pagesInRange as $page): ?>
  <?php if ($page != $this->current): ?>
<li><a href="<?php echo $this->url($this->route, array_merge($this->options, ['page' => $page]), ['query' => $request->getQuery()->toArray()]); ?>">
       <?php echo $page; ?></a></li>
  <?php else: ?>
    <li class="active"><a href="#"><?php echo $page; ?></a></li>
  <?php endif; ?>
<?php endforeach; ?>
    
    
<!-- Next page link -->
<?php if (isset($this->next)): ?>
<li><a href="<?php echo $this->url($this->route, array_merge($this->options, ['page' => $this->next]), ['query' => $request->getQuery()->toArray()]); ?>">
    <?php echo $this->translate('Next', 'Application'); ?> >
  </a></li>
<?php else: ?>
  <li class="disabled"><a href="#"><?php echo $this->translate('Next', 'Application'); ?> ></a></li>
<?php endif; ?>

<!-- Last page link -->
<?php if (isset($this->next)): ?>
<li><a href="<?php echo $this->url($this->route, array_merge($this->options, ['page' => $this->last]), ['query' => $request->getQuery()->toArray()]); ?>">
    <?php echo $this->translate('Last', 'Application'); ?>
  </a></li>
<?php else: ?>
  <li class="disabled"><a href="#"><?php echo $this->translate('Last', 'Application'); ?></a></li>
<?php endif; ?>
    </ul>
<?php endif; ?>