<?php echo $this->doctype(); ?>
<html>
<head>
    <meta charset="utf-8">

    <?php echo $this->headLink()->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css'))
        ->appendStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        ->appendStylesheet('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        ->appendStylesheet($this->basePath('/cpanel/bower_components/AdminLTE/dist/css/AdminLTE.min.css'))
        ->appendStylesheet($this->basePath('/assets/installation/css/style.css'))
    ?>
</head>
<body>
    <?php
    $this->navigation('installation')->menu()->setPartial('installation/index/partial/navigation');
    echo $this->navigation('installation')->menu()->render();
    ?>

    <?php echo $this->content; ?>

    <?php
    echo $this->inlineScript()->prependFile("/cpanel/bower_components/AdminLTE/dist/js/app.min.js")
        ->prependFile($this->basePath("/cpanel/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"))
        ->prependFile($this->basePath("/cpanel/bower_components/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js"))
        ->appendFile($this->basePath('/assets/installation/js/installation.js'))
    ?>
</body>
</html>
