<form  action="<?php echo $this->url; ?>" method="post">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $this->translate('Are you sure that you want to delete content', 'ContentManager'); ?> &laquo;<?php echo $content->getTitle(); ?>&raquo; ?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="submit"><?php echo $this->translate('Yes', 'ContentManager'); ?></button>
                    <button class="btn btn-success" data-dismiss="modal"><?php echo $this->translate('No', 'ContentManager'); ?></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>