<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->translate('Edit content', 'ContentManager'); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <?php
        $this->formLabel()->setTranslatorTextDomain('ContentManager');
        $this->formText()->setTranslatorTextDomain('ContentManager');

        $form->prepare();
        $action = $this->url('admin_default/wildcard', ['module' => 'content-manager', 'action' => 'edit', 'id'  => $content->getId()]);
        $form->setAttributes([
            'id' => 'ContentEdit',
            'name' => 'ContentEdit',
            'action' => $action,
            'class' => 'col-md-4'
        ]);
        echo $this->form()->openTag($form);
        ?>
        <div class="form-group">
            <?php
            $title = $form->get('title');
            $title->setAttribute('class', 'form-control');

            echo $this->formLabel($title, '&nbsp;<span class="text-danger">*</span>', 'prepend');
            echo $this->formElement($title);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($title);
            ?>
        </div>

        <br />
        <p><?php echo $this->translate('Created at', 'ContentManager'); ?>:&nbsp;<small><?php echo $content->getCreated(); ?></small></p>
        <p><?php echo $this->translate('Last update', 'ContentManager'); ?>:&nbsp;<small data-text="update"><?php echo $content->getUpdated(); ?></small></p>
        <br />

        <div class="form-group">
            <?php
            $text = $form->get('text');
            $text->setAttribute('class', 'mceEditor form-control');

            echo $this->formLabel($text);
            echo $this->formElement($text);

            echo $this->formElement($form->get('id'));
            ?>
        </div>

        <div class="form-group">
            <?php
            $submit = $form->get('submit');
            $submit->setAttribute('class', 'btn btn-primary');

            $submit->setValue($this->translate('Save', 'ContentManager'));
            echo $this->formElement($submit);
            ?>
        </div>
        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>