<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <?php if ($this->isGranted('content-manager.add')): ?>
                    <a class="btn btn-default" href="<?php echo $this->url('admin_default', ['module' => 'content-manager', 'action' => 'add']); ?>">
                        <?php echo $this->translate('Add new content', 'ContentManager'); ?>
                    </a>
                <?php endif; ?>

                <?php if ($this->isGranted('content-manager.delete')): ?>
                    <button disabled="disabled" class="btn btn-danger" type="submit" data-action="delete-selected" style="margin-left: 5px" data-url="<?php echo $this->url('admin_default', ['module' => 'content-manager', 'action' => 'delete-selected']); ?>">
                        <?php echo $this->translate('Remove selected', 'ContentManager'); ?>
                    </button>
                <?php endif; ?>
            </div><!-- /.box-header -->
            <?php if (count($list)): ?>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-hover" data-toggle="checkboxes" data-range="true">
                        <thead>
                        <tr>
                            <th style="width: 100px;">
                                <input name="ids[]" id="ids0" type="checkbox" />
                                <label for="ids0"></label>
                            </th>
                            <th><?php echo $this->translate('Tied to the page', 'ContentManager'); ?></th>
                            <th><?php echo $this->translate('Title', 'ContentManager'); ?></th>
                            <th style="text-align: center"><?php echo $this->translate('Action', 'ContentManager'); ?></th>
                        </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($list as $content) : ?>
                                <tr>
                                    <td>
                                        <input name="ids[]" id="ids<?php echo $content->getId(); ?>" type="checkbox" />
                                        <label for="ids<?php echo $content->getId(); ?>"></label>
                                    </td>
                                    <td>
                                        <?php if ($content->isDetached()): ?>
                                            <span class='fa fa-unlink'></span>
                                        <?php else: ?>
                                            <span class='fa fa-link'></span>&nbsp; <?php echo $content->getPage()->getId()?>
                                        <?php endif; ?>
                                    </td>
                                    <td><?php echo $content->getTitle(); ?></td>
                                    <td style="text-align: right">
                                        <?php if ($this->isGranted('content-manager.edit')): ?>
                                            <a class="btn btn-success btn-xs" href="<?php echo $this->url('admin_default/wildcard', ['module' => 'content-manager', 'action' => 'edit', 'id' => $content->getId()]); ?>">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        <?php endif; ?>

                                        <?php if ($this->isGranted('content-manager.delete')): ?>
                                            <button class="btn btn-danger btn-xs" data-action="delete" data-url="<?php echo $this->url('admin_default/wildcard', ['module' => 'content-manager', 'action' => 'delete', 'id' => $content->getId()]); ?>">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <?php echo $this->paginationControl(
                        $list,
                        'Sliding',
                        'application/admin/partial/pagination', ['route' => 'admin_default/wildcard', 'params' => ['module' => 'content-manager', 'action' => 'index']]);
                    ?>
                </div>
            <?php else: ?>
            <div class="box-body table-responsive">
                <div class="alert alert-info"><?php echo $this->translate('Nothing found'); ?></div>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>