<?php echo $this->doctype();?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Simple template'); ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->appendStylesheet($this->basePath() . '/css/style.css')
        ?>
    </head>
    <body>

    <div id="wrapper">
      <div id="header">
        <div class="top_banner">
          <h1>Enter Site Title</h1>
          <p>Enter Site Slogan</p>
        </div>

      </div>

      <div id="page_content">
        <div class="navigation">
            <?php  echo $this->navigation('navigation')->menu()->setUlClass(''); ?>
        </div>

        <div class="common_content">
          <?php echo $this->content; ?>
        </div>

        <div class="clear"></div>

        <!--start footer from here-->
        <div id="footer">
            Copyright &copy; 2014. Design by <a href="http://www.websitetemplates.org.in" target="_blank">website templates</a><br>
        </div>
      </div>

    </div>

    </body>
</html>