<?php echo $this->doctype();?>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Simple template'); ?>
    </head>
    <body>
    <?php  echo $this->navigation('navigation')->menu()->setUlClass(''); ?>
    <?php echo $this->content; ?>
    </body>
</html>