<?php
$this->formLabel()->setTranslatorTextDomain('Mail');
$this->formText()->setTranslatorTextDomain('Mail');
$form->setAttribute('class', 'mail-form');
$form->prepare();
echo $this->form()->openTag($form);
?>
<span class="mail-form__caption"><?php echo $this->translate('Write to us', 'Mail'); ?></span>

<div class="mail-form__form-group">
    <?php
    $name = $form->get('name');
    $name->setAttribute('class', 'mail-form__input');
    echo $this->formElement($name);
    ?>
</div>

<div class="mail-form__form-group">
    <?php
    $email = $form->get('email');
    $email->setAttribute('class', 'mail-form__input');
    echo $this->formElement($email);
    ?>
</div>

<div class="mail-form__form-group">
    <?php
    $text = $form->get('text');
    echo $this->formElement($text);
    ?>
</div>

<?php
$submit = $form->get('submit');
$submit->setAttribute('class', 'mail-form__btn-submit');

echo $this->formElement($submit);
?>
<?php  echo $this->form()->closeTag(); ?>