<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->translate('Add template', 'Mail'); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <?php
        $this->formLabel()->setTranslatorTextDomain('Mail');
        $this->formText()->setTranslatorTextDomain('Mail');
        $form->setAttribute('class', 'col-md-4');
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <div class="form-group">
            <?php
            $eventTypeSelect = $form->get('eventTypeId');
            $eventTypeSelect->setAttribute('data-live-search', true);
            $eventTypeSelect->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($eventTypeSelect);
            echo $this->formElement($eventTypeSelect);
            ?>
        </div>

        <div class="form-group">
            <?php
            $senderEmail = $form->get('senderEmail');
            $senderEmail->setAttribute('class', 'form-control');

            echo $this->formLabel($senderEmail, "<span class='text-danger'>*</span>", 'prepend');

            echo $this->formElement($senderEmail);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($senderEmail);
            ?>
        </div>

        <div class="form-group">
            <?php
            $senderName = $form->get('senderName');
            $senderName->setAttribute('class', 'form-control');

            echo $this->formLabel($senderName, "<span class='text-danger'>*</span>", 'prepend');

            echo $this->formElement($senderName);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($senderName);
            ?>
        </div>

        <div class="form-group">
            <?php
            $recipient = $form->get('recipient');
            $recipient->setAttribute('class', 'form-control');

            echo $this->formLabel($recipient, "<span class='text-danger'>*</span>", 'prepend');

            echo $this->formElement($recipient);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($recipient);
            ?>
        </div>

        <div class="form-group">
            <?php
            $cc = $form->get('cc');
            $cc->setAttribute('class', 'form-control');

            echo $this->formLabel($cc);

            echo $this->formElement($cc);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($cc);
            ?>
        </div>

        <div class="form-group">
            <?php
            $bcc = $form->get('bcc');
            $bcc->setAttribute('class', 'form-control');

            echo $this->formLabel($bcc);

            echo $this->formElement($bcc);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($bcc);
            ?>
        </div>

        <div class="form-group">
            <?php
            $subject = $form->get('subject');
            $subject->setAttribute('class', 'form-control');

            echo $this->formLabel($subject, "<span class='text-danger'>*</span>", 'prepend');

            echo $this->formElement($subject);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($subject);
            ?>
        </div>

        <div class="form-group radio-group clearfix">
            <?php
            $type = $form->get('type');
            echo $this->formLabel($type);

            echo $this->formElement($type)
            ?>
        </div>

        <div class="form-group">
            <?php
            $text = $form->get('text');
            $text->setAttribute('id', 'editor1');
            $text->setAttribute('style', 'width: 800px; height: 300px; margin-bottom: 20px;');
            $text->setAttribute('class', 'form-control');

            echo $this->formLabel($text);
            echo $this->formElement($text);
            ?>
            <div class="form-group hide">
                <label><?php echo $this->translate('Available fields', 'Mail'); ?>:</label>
                <div style="width: 800px;"></div>
            </div>
        </div>

        <div class="form-group">
            <?php
            $languageSelect = $form->get('language');
            $languageSelect->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($languageSelect);
            echo $this->formElement($languageSelect);
            ?>
        </div>

        <div class="form-group radio-group clearfix">
            <?php
            $active = $form->get('active');
            echo $this->formLabel($active);

            echo $this->formElement($active)
            ?>
        </div>

        <div class="form-group radio-group clearfix">
            <?php
            $keepOnServer = $form->get('keepOnServer');
            echo $this->formLabel($keepOnServer);

            echo $this->formElement($keepOnServer)
            ?>
        </div>

        <div class="form-group clear-left">
            <?php
            $submit = $form->get('submit');
            $submit->setAttribute('class', 'btn btn-primary');
            $submit->setValue($this->translate($submit->getValue(), 'Mail'));
            echo $this->formElement($submit);
            ?>
        </div>

        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>