<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->translate('Add type', 'Mail'); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <?php
        $this->formLabel()->setTranslatorTextDomain('Mail');
        $this->formText()->setTranslatorTextDomain('Mail');
        $form->setAttribute('class', 'col-md-4');
        $form->prepare();
        echo $this->form()->openTag($form);
        ?>

        <div class="form-group">
            <?php
            $name = $form->get('name');
            $name->setAttribute('class', 'form-control');

            echo $this->formLabel($name, "<span class='text-danger'>*</span>", 'prepend');

            echo $this->formElement($name);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($name);
            ?>
        </div>

        <div class="form-group">
            <?php
            $ident = $form->get('ident');
            $ident->setAttribute('class', 'form-control');

            echo $this->formLabel($ident, "<span class='text-danger'>*</span>", 'prepend');

            echo $this->formElement($ident);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($ident);
            ?>
        </div>

        <div class="form-group">
            <?php
            $desc = $form->get('description');
            $desc->setAttribute('class', 'form-control');

            echo $this->formLabel($desc);
            echo $this->formElement($desc);
            ?>
        </div>

        <div class="form-group clear-left">
            <?php
            $submit = $form->get('submit');
            $submit->setAttribute('class', 'btn btn-primary');
            $submit->setValue($this->translate($submit->getValue(), 'Mail'));
            echo $this->formElement($submit);
            ?>
        </div>

        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>