<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <?php if ($this->isGranted('mail.add-event-type')): ?>
                    <a class="btn btn-default" href="<?php echo $this->url('admin/mail/event-types/add');?>">
                        <?php echo $this->translate('Add type', 'Mail'); ?>
                    </a>
                <?php endif; ?>

                <?php if (count($eventTypes) && $this->isGranted('mail.delete-event-type')): ?>
                    <button class="btn btn-danger" type="submit" data-action="delete-selected" data-url="<?php echo $this->url('admin_default', ['module' => 'mail', 'action' => 'delete-event-types']); ?>" disabled="disabled">
                        <?php echo $this->translate('Remove selected', 'Mail'); ?>
                    </button>
                <?php endif; ?>
            </div><!-- /.box-header -->
            <?php if (count($eventTypes)): ?>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped" data-toggle="checkboxes" data-range="true">
                        <thead>
                        <tr>
                            <th>
                                <input name="ids[]" id="ids0" type="checkbox" />
                                <label for="ids0"></label>
                            </th>
                            <th><?php echo $this->translate('Name', 'Mail'); ?></th>
                            <th><?php echo $this->translate('Type', 'Mail'); ?></th>
                            <th style="text-align: center"><?php echo $this->translate('Action', 'Mail'); ?></th>
                        </tr>
                        </thead>
                        <tbody>

                            <?php foreach ($eventTypes as $eventType) :?>
                                <tr>
                                    <td>
                                        <input name="ids[]" id="ids<?php echo $eventType->getId(); ?>" value="<?php echo $eventType->getId(); ?>" type="checkbox" />
                                        <label for="ids<?php echo $eventType->getId(); ?>"></label>
                                    </td>
                                    <td><?php echo $eventType->getName(); ?></td>
                                    <td><?php echo $eventType->getIdent(); ?></td>
                                    <td style="text-align: right">
                                        <?php if ($this->isGranted('mail.edit-event-type')): ?>
                                            <a title="<?php echo $this->translate('Edit', 'Mail'); ?>" class="btn btn-success btn-xs" href="<?php echo $this->url('admin/mail/event-types/edit', ['id' => $eventType->getId()]); ?>">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        <?php endif; ?>

                                        <?php if ($this->isGranted('mail.delete-event-type')): ?>
                                            <button title="<?php echo $this->translate('Delete', 'Mail'); ?>" class="btn btn-danger btn-xs" data-action="delete" data-url="<?php echo $this->url('admin/mail/event-types/delete', ['id' => $eventType->getId()]); ?>">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <?php echo $this->paginationControl($eventTypes,
                        'Sliding',
                        'application/admin/partial/pagination', ['route' => 'admin/mail/event-types/pagination']); ?>
                </div>
            <?php else: ?>
                <div class="box-body">
                    <div class="alert alert-info"><?php echo $this->translate('Nothing found', 'Mail'); ?></div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
