<div class="row">
    <?php echo $this->partial('mail/admin/partial/folders', ['folder' => 'inbox']); ?>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><?php echo $this->translate('Inbox'); ?></h3>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Search Mail">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <?php if (count($messages)): ?>
                            <?php foreach($messages as $message): ?>
                                <tr>
                                    <td>
                                        <?php if (!$message->isRead()): ?>
                                            <input name="ids[]" id="ids<?php echo $message->getId(); ?>" value="<?php echo $message->getId(); ?>" data-read="unread" type="checkbox" />
                                        <?php else: ?>
                                            <input name="ids[]" id="ids<?php echo $message->getId(); ?>" value="<?php echo $message->getId(); ?>" data-read="read" type="checkbox" />
                                        <?php endif; ?>
                                    </td>
                                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                    <td class="mailbox-name">
                                        <?php if (!$message->isRead()): ?>
                                            <a href="<?php echo $this->url('admin/mail/inbox/message', ['id' => $message->getId()])?>"><strong><?php echo $message->getSenderName() ?: $message->getSenderEmail(); ?></strong></a>
                                        <?php else: ?>
                                            <a href="<?php echo $this->url('admin/mail/inbox/message', ['id' => $message->getId()])?>"><?php echo $message->getSenderName() ?: $message->getSenderEmail(); ?></a>
                                        <?php endif; ?>
                                    </td>
                                    <td class="mailbox-subject">
                                        <?php if (!$message->isRead()): ?>
                                            <strong><?php echo $message->getSubject(); ?></strong></a>
                                        <?php else: ?>
                                            <?php echo $message->getSubject(); ?>
                                        <?php endif; ?>
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date"><?php echo $message->getCreated(); ?></td>
                                </tr>
                            <?php endforeach; ?>
                        <?php else: ?>
                                <tr>
                                    <td colspan="5" class="text-center"><?php echo $this->translate('Nothing found'); ?></td>
                                </tr>
                        <?php endif; ?>
                        </tbody>
                    </table><!-- /.table -->
                </div><!-- /.mail-box-messages -->
            </div><!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div><!-- /.btn-group -->
                    </div><!-- /.pull-right -->
                </div>
            </div>
        </div><!-- /. box -->
    </div><!-- /.col -->
</div><!-- /.row -->