<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <?php if ($this->isGranted('mail.add-template')): ?>
                    <a class="btn btn-default" href="<?php echo $this->url('admin/mail/templates/add') ?>">
                        <?php echo $this->translate('Add template', 'Mail'); ?>
                    </a>
                <?php endif; ?>

                <?php if (count($templates) && $this->isGranted('mail.delete-template')): ?>
                    <button class="btn btn-danger" type="submit" data-action="delete-selected" data-url="<?php echo $this->url('admin_default', ['module' => 'mail', 'action' => 'delete-templates']); ?>" disabled="disabled">
                        <?php echo $this->translate('Remove selected', 'Mail'); ?>
                    </button>
                <?php endif; ?>
            </div><!-- /.box-header -->
            <?php if (count($templates)): ?>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped" data-toggle="checkboxes" data-range="true">
                        <thead>
                        <tr>
                            <th>
                                <input name="ids[]" id="ids0" type="checkbox" />
                                <label for="ids0"></label>
                            </th>
                            <th><?php echo $this->translate('Subject', 'Mail'); ?></th>
                            <th><?php echo $this->translate('Type of mail event', 'Mail'); ?></th>
                            <th><?php echo $this->translate('Updated date', 'Mail'); ?></th>
                            <th><?php echo $this->translate('Language', 'Mail'); ?></th>
                            <th><?php echo $this->translate('Active', 'Mail'); ?></th>
                            <th style="text-align: center"><?php echo $this->translate('Action', 'Mail'); ?></th>
                        </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($templates as $template) :?>
                                <tr>
                                    <td>
                                        <input name="ids[]" id="ids<?php echo $template->getId(); ?>" value="<?php echo $template->getId(); ?>" type="checkbox" />
                                        <label for="ids<?php echo $template->getId(); ?>"></label>
                                    </td>
                                    <td><?php echo $template->getSubject(); ?></td>
                                    <td><?php echo $template->getEventType()->getName(); ?></td>
                                    <td><?php echo $template->getUpdated(); ?></td>
                                    <td><?php echo strtoupper($template->getLanguage()); ?></td>
                                    <td>
                                        <?php echo $template->isActive() ? $this->translate('Yes', 'Mail') : $this->translate('No', 'Mail'); ?>
                                    </td>
                                    <td style="text-align: right">
                                        <?php if ($this->isGranted('mail.edit-template')): ?>
                                            <a title="<?php echo $this->translate('Edit', 'Mail'); ?>" class="btn btn-success btn-xs" href="<?php echo $this->url('admin/mail/templates/edit', ['id' => $template->getId()]); ?>">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        <?php endif; ?>

                                        <?php if ($this->isGranted('mail.delete-template')): ?>
                                            <button title="<?php echo $this->translate('Delete', 'Mail'); ?>" class="btn btn-danger btn-xs" data-action="delete" data-url="<?php echo $this->url('admin/mail/templates/delete', ['id' => $template->getId()]); ?>">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            <div class="box-footer">
                <?php echo $this->paginationControl($templates,
                    'Sliding',
                    'application/admin/partial/pagination', ['route' => 'admin/mail/templates/pagination']); ?>
            </div>
            <?php else: ?>
                <div class="box-body">
                    <div class="alert alert-info"><?php echo $this->translate('Nothing found', 'Mail'); ?></div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>