<div class="row">
    <?php echo $this->partial('mail/admin/partial/folders'); ?>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Read Mail</h3>
                <div class="box-tools pull-right">
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-read-info">
                    <h3><?php echo $message->getSubject(); ?></h3>
                    <h5><?php echo $this->translate('From', 'Mail'); ?>: <?php echo $message->getSenderEmail(); ?> <span class="mailbox-read-time pull-right"><?php echo $message->getCreated(); ?></span></h5>
                    <h5><?php echo $this->translate('To', 'Mail')?>: <?php echo $message->getRecipient(); ?></h5>

                    <?php if ($message->getCc()): ?>
                        <h5><?php echo $this->translate('Cc', 'Mail')?>: <?php echo $message->getCc(); ?></h5>
                    <?php endif; ?>

                    <?php if ($message->getBcc()): ?>
                        <h5><?php echo $this->translate('Bcc', 'Mail')?>: <?php echo $message->getBcc(); ?></h5>
                    <?php endif; ?>
                </div><!-- /.mailbox-read-info -->
                <div class="mailbox-controls with-border text-center">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></button>
                        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Reply"><i class="fa fa-reply"></i></button>
                        <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Forward"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></button>
                </div><!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                    <?php echo $message->getContent(); ?>
                </div><!-- /.mailbox-read-message -->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                    <button class="btn btn-default"><i class="fa fa-share"></i> Forward</button>
                </div>
                <button class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
                <button class="btn btn-default"><i class="fa fa-print"></i> Print</button>
            </div><!-- /.box-footer -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div><!-- /.row -->