<div class="nav-tabs-custom">
    <ul class="nav nav-tabs" style="margin-bottom: 20px;">
        <li class="active"><a href="#default-settings" data-toggle="tab"><?php echo $this->translate('Default settings', 'Mail'); ?></a></li>
        <li><a href="#smtp-settings" data-toggle="tab"><?php echo $this->translate('SMTP settings', 'Mail'); ?></a></li>
    </ul>
    <div class="tab-content clearfix">
        <div id="default-settings" class="tab-pane active">
            <?php echo $this->partial('mail/admin/partial/default-settings', ['form' => $defaultSettingsForm]); ?>
        </div>
        <div id="smtp-settings" class="tab-pane">
            <?php echo $this->partial('mail/admin/partial/smtp-settings', ['form' => $smtpSettingsForm]); ?>
        </div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-body">
        <?php echo $this->partial('mail/admin/partial/test-message', ['form' => $testMessageForm]); ?>
    </div>
</div>
