<div class="box box-primary">
    <?php
    $this->formLabel()->setTranslatorTextDomain('Installation');

    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="box-body">
        <p class="text-danger text-center"><?php echo $message; ?></p>
        <div class="form-group">
            <?php
            $server = $form->get('server');
            $server->setAttribute('class', 'form-control');
            $server->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($server, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($server);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($server);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $username = $form->get('username');
            $username->setAttribute('class', 'form-control');
            $username->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($username, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($username);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($server);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $password = $form->get('password');
            $password->setAttribute('class', 'form-control');
            $password->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($password, null, 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($password);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($password);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $name = $form->get('dbname');
            $name->setAttribute('class', 'form-control');
            $name->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($name, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($name);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($name);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $prefix = $form->get('prefix');
            $prefix->setAttribute('class', 'form-control');
            $prefix->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($prefix, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($prefix);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($prefix);
                ?>
            </div>
        </div>

        <div class="form-grp">
            <?php
            $drop = $form->get('drop_old_tables');
            $drop->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($drop);
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($drop);
                ?>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <?php
        $submit = $form->get('submit');
        echo $this->formElement($submit);
        ?>
        <a href="<?php echo $this->url('installation', ['action' => 'start']); ?>" class="btn btn-primary btn-flat"><?php echo $this->translate('Back', 'Installation'); ?></a>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>