<?php if ($this->installationService()->isCompleted('install')): ?>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><?php echo $this->translate('Installation is completed', 'Installation'); ?></h3>
        </div>
        <div class="box-body">
            <p class="text"><?php echo $this->translate('Press &laquo;Go to panel&raquo; to go to admin panel', 'Installation'); ?></p>
        </div>
        <div class="box-footer">
            <a class="btn btn-success btn-flat pull-right" href="<?php echo $this->url('admin_default'); ?>">
                <?php echo $this->translate('Go to panel', 'Installation'); ?>
            </a>
        </div>
    </div>
<?php else: ?>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><?php echo $this->translate('Completing installation', 'Installation'); ?></h3>
            <h3 class="box-title hide"><?php echo $this->translate('Installation is completed', 'Installation'); ?></h3>
        </div>
        <div class="box-body">
            <p class="text"><?php echo $this->translate('Press &laquo;install&raquo; to complete installation', 'Installation'); ?></p>
            <p class="text hide"><?php echo $this->translate('Press &laquo;Go to panel&raquo; to go to admin panel', 'Installation'); ?></p>

            <div class="progress progress-sm hide">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><span class="sr-only"></span></div>
            </div>

            <ul class="progress-list">
            </ul>
        </div>
        <div class="box-footer">
            <a href="<?php echo $this->url('installation', ['action' => 'database']); ?>" class="btn btn-primary btn-flat pull-left js-btn-back">
                <?php echo $this->translate('Back', 'Installation'); ?>
            </a>
            <a class="btn btn-success btn-flat pull-right js-btn-install" data-loading-text="<?php echo $this->translate('Install...', 'Installation'); ?>" data-complete-text="<?php echo $this->translate('Go to panel', 'Installation'); ?>">
                <?php echo $this->translate('Install', 'Installation'); ?>
            </a>
        </div>
    </div>
<?php endif; ?>