<div class="box box-primary">
    <?php
    $this->formLabel()->setTranslatorTextDomain('Installation');
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="box-body">
        <div class="form-group">
            <?php
            $language = $form->get('language');
            $language->setAttribute('class', 'form-control');
            $language->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);

            echo $this->formLabel($language);
            ?>
            <div class="col-xs-8">
                <?php echo $this->formElement($language); ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $email = $form->get('email');
            $email->setAttribute('class', 'form-control');
            $email->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($email, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>

            <div class="col-xs-8">
                <?php
                echo $this->formElement($email);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($email);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $login = $form->get('login');
            $login->setAttribute('class', 'form-control');
            $login->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($login, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($login);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($login);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $password = $form->get('password');
            $password->setAttribute('class', 'form-control');
            $password->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($password, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($password);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($password);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $confirm = $form->get('confirm');
            $confirm->setAttribute('class', 'form-control');
            $confirm->setLabelAttributes([
                'class' => 'col-xs-4 control-label'
            ]);
            echo $this->formLabel($confirm, '&nbsp;<span class="text-warning">*</span>', 'prepend');
            ?>
            <div class="col-xs-8">
                <?php
                echo $this->formElement($confirm);

                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<p class="help-block text-danger">')
                    ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                    ->setMessageCloseString('</p>')
                    ->render($confirm);
                ?>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <?php
        $submit = $form->get('submit');
        echo $this->formElement($submit);
        ?>
    </div>
    <?php echo $this->form()->closeTag(); ?>
</div>
