<ul class="nav nav-pills nav-justified">
    <?php foreach ($this->container as $page):
        $page->isCompleted = false;

        if ($this->installationService()->isCompleted('start') && $page->getOrder() == 1 ||
            $this->installationService()->isCompleted('database') && $page->getOrder() == 2 ||
            $this->installationService()->isCompleted('install') && $page->getOrder() == 3) :

            $page->isCompleted = true;
        endif;
    ?>
        <li class="<?php echo $page->isActive(true) && !$page->isCompleted ? 'active' : ''; ?> <?php echo $page->isCompleted ? 'disabled': ''; ?>" >
            <a href="<?php echo $page->getHref()?>">
                <?php echo $this->translateNavigation($page->getLabel()); ?>
                <?php if ($page->isCompleted): ?>
                    <span class="fa fa-check-circle"></span>
                <?php endif; ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>
