<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><?php echo $this->translate('Create new page', 'Pages'); ?></h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <?php
        $this->formLabel()->setTranslatorTextDomain('Pages');
        $this->formText()->setTranslatorTextDomain('Pages');

        $form->prepare();
        $form->setAttribute('action', $this->url('admin_default', ['module' => 'pages', 'action' => 'add']));
        $form->setAttribute('class', 'col-md-4');

        echo $this->form()->openTag($form);
        ?>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">http://</span>
                <?php
                $url = $form->get('url');
                $url->setAttribute('class', 'form-control');
                echo $this->formElement($url);
                ?>
            </div>
        </div>

        <div class="form-group">
            <?php
            $parent = $form->get('parentId');
            $parent->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($parent);
            echo $this->formElement($parent);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($parent);
            ?>
        </div>

        <div class="form-group">
            <?php
            $title = $form->get('title');
            $title->setAttribute('class', 'form-control');

            echo $this->formLabel($title);
            echo $this->formElement($title);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($title);
            ?>
        </div>

        <div class="form-group">
            <?php
            $alias = $form->get('alias');
            $alias->setAttribute('class', 'form-control');

            echo $this->formLabel($alias);
            echo $this->formElement($alias);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($alias);
            ?>
        </div>

        <div class="form-group">
            <?php
            $link = $form->get('linkId');
            $link->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($link);
            echo $this->formElement($link);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($link);
            ?>
        </div>

        <div class="form-group">
            <?php
            $module = $form->get('module');
            $module->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($module);
            echo $this->formElement($module);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($module);
            ?>
        </div>
        <div class="form-group">
            <?php
            $content = $form->get('content');
            $content->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($content);
            echo $this->formElement($content);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($content);
            ?>
        </div>

        <div class="form-group">
            <?php
            $template = $form->get('template');
            $template->setAttribute('class', 'form-control selectpicker');

            echo $this->formLabel($template);
            echo $this->formElement($template);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($template);
            ?>
        </div>

        <div class="form-group">
            <?php
            $title = $form->get('seoTitle');
            echo $this->formLabel($title);
            echo $this->formElement($title);
            echo $this->formElementErrors()
                ->setMessageOpenFormat('<p class="help-block text-danger">')
                ->setMessageSeparatorString('</p><p class="help-block text-danger">')
                ->setMessageCloseString('</p>')
                ->render($title);
            ?>
        </div>

        <div class="form-group">
            <?php
            $keywords = $form->get('keywords');
            echo $this->formLabel($keywords);
            echo $this->formElement($keywords);
            ?>
        </div>

        <div class="form-group">
            <?php
            $description = $form->get('description');
            echo $this->formLabel($description);
            echo $this->formElement($description);
            ?>
        </div>

        <div class="form-group">
            <?php
            $published = $form->get('published');
            echo $this->formElement($published);
            echo $this->formLabel($published);
            ?>
        </div>

        <div class="form-group">
            <?php
            $hidden = $form->get('hidden');
            echo $this->formElement($hidden);
            echo $this->formLabel($hidden);
            ?>
        </div>

        <div class="form-group">
            <?php
            echo $this->formElement($form->get('id'));

            $submit = $form->get('submit');
            $submit->setAttribute('class', 'btn btn-primary');
            $submit->setValue($this->translate($submit->getValue(), 'Pages'));
            echo $this->formElement($submit);
            ?>
        </div>

        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>
<?php
$this->inlineScript()->appendFile($this->basePath('/assets/pages/js/page-add.js'));
?>