<form id="PageDelete" name="PageDelete" action="<?php echo $url; ?>" method="post">
    <div class="modal" style="display: block; position: relative">
        <div class="modal-dialog" style="margin: 0">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Confirm Delete', 'Pages'); ?></h4>
                </div>
                <div class="modal-body">
                    <p><?php echo $this->message; ?></p>
                    <input type="checkbox" name="delete_content" id="dc" value="1" />
                    <label for="dc"><?php echo $this->translate('Delete an attached content', 'Pages'); ?></label>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="backUrl" value="<?php echo $backUrl; ?>" />
                    <button class="btn btn-danger" type="submit"><?php echo $this->translate('Yes', 'Pages'); ?></button>
                    <button class="btn btn-success" data-dismiss="modal"><?php echo $this->translate('No', 'Pages'); ?></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
