<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <?php if ($this->isGranted('pages.create')): ?>
                    <a class="btn btn-default" href="<?php echo $this->url('admin_default/wildcard', ['module' => 'pages', 'action' => 'add'], ['query' => ['parent' => $parent]]); ?>">
                        <?php echo $this->translate('Add page', 'Pages'); ?>
                    </a>
                <?php endif; ?>

                <?php if (count($pages) && $this->isGranted('pages.delete')): ?>
                    <button class="btn btn-danger" type="submit" data-action="delete-selected" data-url="<?php echo $this->url('admin_default', ['module' => 'pages', 'action' => 'delete-selected']); ?>" disabled="disabled">
                        <?php echo $this->translate('Remove selected', 'Pages'); ?>
                    </button>
                <?php endif; ?>
            </div><!-- /.box-header -->
            <?php if (count($pages)): ?>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped" data-toggle="checkboxes" data-range="true">
                        <thead>
                        <tr>
                            <th colspan="2">
                                <input name="ids[]" id="ids0" type="checkbox" />
                                <label for="ids0"></label>
                            </th>
                            <th><?php echo $this->translate('Title', 'Pages'); ?></th>
                            <th><?php echo $this->translate('Alias', 'Pages'); ?></th>
                            <th><?php echo $this->translate('Module', 'Pages'); ?></th>
                            <th><?php echo $this->translate('Template', 'Pages'); ?></th>
                            <th><?php echo $this->translate('Created at', 'Pages'); ?></th>
                            <th style="text-align: center"><?php echo $this->translate('Action', 'Pages'); ?></th>
                        </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($pages as $page) :?>
                                <tr>
                                    <td>
                                        <input name="ids[]" id="ids<?php echo $page->getId(); ?>" value="<?php echo $page->getId(); ?>" type="checkbox" />
                                        <label for="ids<?php echo $page->getId(); ?>"></label>
                                    </td>
                                    <td>
                                        <?php if ($page->isPublished()): ?>
                                            <span class="label label-success"><?php echo $this->translate('Published', 'Pages'); ?></span>
                                        <?php else: ?>
                                            <span class="label label-danger"><?php echo $this->translate('Not published', 'Pages'); ?></span>
                                        <?php endif; ?>
                                    </td>
                                    <td>
                                        <?php if (!$page->isModule()): ?>
                                            <a href="<?php echo $this->url('admin_default/wildcard', ['module' => 'pages'], ['query' => ['parent' => $page->getId()]]); ?>"><?php echo $page->getTitle(); ?></a>
                                        <?php else: ?>
                                            <?php echo $page->getTitle(); ?>
                                        <?php endif; ?>
                                        <?php if ($page->isLink()): ?>
                                            &nbsp;<span class='fa fa-link' title="<?php echo $page->getLink()->getId(); ?>"></span>
                                        <?php endif; ?>
                                    </td>
                                    <td><?php echo $page->getAlias(); ?></td>
                                    <td><?php echo $page->getModuleName(); ?></td>
                                    <td><?php echo $page->getTemplate(); ?></td>
                                    <td><?php echo $page->getCreated()->format('d.m.Y H:i:s'); ?></td>
                                    <td style="text-align: right">
                                        <?php if ($this->isGranted('pages.edit')): ?>
                                            <a title="<?php echo $this->translate('Edit', 'Pages'); ?>" class="btn btn-success btn-xs" href="<?php echo $this->url('admin_default/wildcard', ['module' => 'pages', 'action' => 'edit', 'id' => $page->getId()]); ?>">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        <?php endif; ?>

                                        <?php if ($this->isGranted('sms.delete-template')): ?>
                                            <button title="<?php echo $this->translate('Delete', 'Pages'); ?>" class="btn btn-danger btn-xs js-btn-delete" data-action="delete" data-url="<?php echo $this->url('admin_default/wildcard', ['module' => 'pages', 'action' => 'delete', 'id' => $page->getId()]); ?>">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        <?php endif; ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <?php echo $this->paginationControl($pages,
                        'Sliding',
                        'application/admin/partial/pagination', ['route' => 'admin_default/wildcard', 'params' => ['module' => 'pages']]); ?>
                </div>
            <?php else: ?>
                <div class="box-body">
                    <div class="alert alert-info"><?php echo $this->translate('Nothing found'); ?></div>
                </div>
            <?php endif; ?>
        </div><!-- /.box -->
    </div>
</div>
<?php $this->inlineScript()->appendFile($this->basePath('/assets/pages/js/pages.js')); ?>